.tab:hover {
  background-color: rgba(0, 0, 0, 0.2); /* 背景色を暗くする */
}

.form-container {
  max-width: 500px; /* フォームの最大幅を500pxに設定 */
  margin-left: 12px; /* タブと同じ左マージン */
  margin-right: auto; /* 右マージンを自動に設定して中央寄せ */
  padding: 20px; /* フォームの内側のスペース（パディング） */
}

.headerCell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #f2f2f2;
}

.cell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
